.test-navbar {
  background: linear-gradient(90deg, rgba(24,31,88,1) 17%, rgba(67,83,205,1) 92%);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  margin-bottom: 30px;
}

.test-navbar-image {
  height: 30px;
  width: auto;
}

hr {
  border: 3px solid rgb(39, 39, 152);
  margin-bottom: 50px;
}

.q-box {
  margin-left: 100px;
}

.options {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer !important;
  margin: 5px;
}

.options:hover {
  color: #000000;
  opacity: 0.6;
}

input[type=radio] {
  margin-left: 10px;
  margin-right: 10px;
  height: 20px;
  width: 30px;
  cursor: pointer;
  margin-top: 5px;
}

.test-btn {
  cursor: pointer;
  font-size: 20px;
  color: aliceblue;
  border-radius: 10px;
  border: 0;
  height: 40px;
  min-width: 170px;
  background-color: #38498b;
}

input[type=radio]:checked ~ label {
  color: #2a66ff;
}

.timer {
  text-align: center;
  font-size: 50px;
  color: #001567;
  font-family: 'Times New Roman', Times, serif;
}

.button-group {
  margin-top: 50px;
  width: 700px;
  display: flex;
  justify-content: space-evenly;
}

.text-area {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  overflow-y: scroll;
}

/* Additional CSS for the pop-up modal with red accents */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: #fff;
  border: 2px solid red; /* Emphasis with red border */
  border-radius: 10px;
  padding: 30px;
  max-width: 400px;
  width: 90%;
  text-align: center;
}

.modal h2 {
  color: red; /* Red title text */
  margin-bottom: 20px;
}

.modal p {
  margin-bottom: 20px;
  color: #333;
}

.modal button {
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  background-color: red; /* Red background for the button */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}
/* Score Card Styling */
.quiz-container {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2; /* light background for contrast */
}

.card {
  background-color: #fff;
  width: 500px;
  padding: 30px;
  border: 2px solid #272727;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h1 {
  margin-bottom: 20px;
  font-size: 32px;
}

.score {
  margin-bottom: 20px;
}

.score h2 {
  margin-bottom: 10px;
  font-size: 28px;
}

.score p {
  font-size: 22px;
  margin: 5px 0;
}

.test-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 20px;
}
.heading {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  color: #ffffff;
}